<div class="jumbotron">
    <h1>Purpose</h1>
    <p class="lead">
        This page is the entry point for my applications developed in C# under the .NET Framework.
        The goals of this site are to:
    </p>
    <ul>
        <li>illustrate knowledge of C# web application deployment</li>
        <li>illustrate knowledge of core internet application DOM and BOM elements including: HTML, CSS, XML, JSON and C#</li>
        <li>demonstrate that I can competently interface with external, restful, non-Microsoft web services</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Architecture</h2>
        <p>
            This site uses classic <span title="Model, View, Controller">MVC</span> architecture
            - a tenured application design paradigm that allows web developers of differing skills
            to work together on a common project. This project portion of the site was developed
            in Microsoft Visual Studio 2017 on the .NET 4.6 framework and uses C# controllers,
            javascript libraries such as jQuery and bootstrap and CSS to control the view, access
            the model and execute any actions available on the page.
        </p>
        <p><a href="http://www.jasen.us" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>InterOperability</h2>
        <p>
            Since this site is hosted on a GoDaddy shared server, I had to make several modifications. 
            This demonstrates the ability to encounter and overcome road blocks that should be expected 
            any time two or more systems are brought together in a solution.
        </p>
        <p><a class="btn btn-primary btn-lg" href="http://jasenw.net/wordpress/?p=29">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simple Sample Entry Points</h2>
        <p><a class="btn btn-default" href="http://www.jasen.us/sampledevcode/sampleUI.html" target="_blank" title="Angular.js with raw JSON Response">Angular JS Data Entry &raquo;</a></p>
        <p><a class="btn btn-default" href="http://www.jasen.us/sampledevcode/bibleUI.html" target="_blank" title="Angular.js with formatted JSON Response">Angular JS Bible Verse &raquo;</a></p>
        <p><a class="btn btn-default" href="http://www.jasen.us/search-the-bible/" target="_blank" title="Built In Bible Search Widget">Bible API Integration &raquo;</a></p>
        <p><a class="btn btn-default" href="" title="Pending Development">.NET WIP &raquo;</a></p>
    </div>
</div>
